.front-page {
  .header {
    //min-height: calc(100vh - 51px);

    &__form-wrap {
      display: block;
      position: absolute;
      left: calc(50% - 503px);
      top: 3vh;
      width: 1006px;
      padding: 25px 45px 10px;
    }

    &__menu-wrap {
      max-width: 750px;
      width: 750px;
      left: calc(50% - 375px);
      top: 50px;
      position: absolute;
      margin: 0;
    }

    &__top {
      margin-bottom: 0;
    }
  }

  .content {
    overflow: hidden;

    &__title {
      color: #252525;
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 35px;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 50px;
        height: 4px;
        background-color: #ef0e14;
        left: 0;
        bottom: -2px;
      }
    }

    .transportation {
      margin-bottom: 70px;
    }
  }

  .front-more {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 71px;
    color: white;

    &__link {
      text-decoration: none;
      color: white;
      font-weight: bold;

      &:hover,
      &:active,
      &:focus,
      &:visited {
        color: white;
      }
    }
  }

  &-fa_header {
    padding-bottom: 20px;
  }

  .intl-tel-input {
    .selected-flag {
      border-radius: $input-border-radius 0 0 $input-border-radius;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .front-page {
    &-fa_header {
      padding: 10px 0;
      margin-top: 0;
      background: $brand-primary;
      color: white;
    }

    .header {
      margin: 0;
      padding: 0;

      &__menu-wrap {
        max-width: 100%;
        width: 100%;
        top: 70px;
        left: 0;
        right: 0;
      }

      &__form-wrap {
        width: 100%;
        padding: 0 15px;
        position: relative;
        top: inherit;
        left: inherit;
        bottom: inherit;

        @include br(0);
      }

      .form {
        &__title {
          background-color: $blue;
          background-color: rgba(42, 130, 230, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
          padding: 12px;
          font-size: 12px;
          color: #fff;
          text-transform: uppercase;
          line-height: 1.2;
        }
      }
    }

    .content {
      &__title {
        margin-bottom: 30px;
        padding: 0;
      }

      &__video {
        height: 240px;
      }

      &__about p {
        line-height: 20px;
        margin-bottom: 15px;
      }
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .front-page {
    .header {
      &__form-wrap {
        width: 720px;
        left: calc(50% - 360px);
      }

      &__slider-wrap {
        .slick-dotted.slick-slider {
          margin-bottom: 0;
        }
      }
    }

    .content {
      &__title {
        margin-bottom: 45px;
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  .slider {
    &__slide {
      background-image: url('/img/slider/slide1.jpg');
    }
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .front-page {
    .header {
      &__form-wrap {
        width: 750px;
        left: calc(50% - 375px);
      }
    }
  }
}
/*
@media (min-width: $screen-lg-min) {
  .front-page {
    .header {
      min-height: calc(100vh - 51px);
    }
  }
}
*/
